﻿
@{
    ViewBag.Title = "Japanese In Your Hand | Edit Lesson Quiz";
    Layout = null;
}
<head>
    <style>
        .add-info {
            color: black;
        }

        li {
            color: black;
        }
    </style>
</head>
<div class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Thêm câu hỏi kiểm tra cho bài học '@Html.Raw(ViewBag.Lesson.Name)'</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="add-info">ID câu hỏi:</td>
                                <td><input id="edit-id" type="text" name="id" disabled /></td>
                            </tr>
                            <tr>
                                <td class="add-info">Câu hỏi:</td>
                                <td><input id="edit-add" name="quession" type="text" class="form-control" /></td>
                            </tr>

                            <tr>
                                <td class="add-info">Câu trả lời đúng:</td>
                                <td><input id="edit-correct" name="correct" type="text" class="form-control" /></td>
                            </tr>

                            <tr>
                                <td class="add-info">Câu trả lời sai 1:</td>
                                <td><input id="edit-wrong1" name="wrong1" type="text" class="form-control" /></td>
                            </tr>

                            <tr>
                                <td class="add-info">Câu trả lời sai 2:</td>
                                <td><input id="edit-wrong2" name="wrong2" type="text" class="form-control" /></td>
                            </tr>

                            <tr>
                                <td class="add-info">Câu trả lời sai 3:</td>
                                <td><input id="edit-wrong3" name="wrong3" type="text" class="form-control" /></td>
                            </tr>

                            <tr>
                                <td class="add-info"> Loại Câu Hỏi:</td>
                                <td>
                                    <select name="type" class="form-control" id="edit-type">
                                        <option value="0" selected disabled hidden>Chọn loại câu hỏi</option>
                                        <option value="1">Kanji</option>
                                        <option value="2">Từ vựng</option>
                                        <option value="3">Ngữ pháp</option>
                                        <option value="4">Đọc hiểu</option>
                                        <option value="5">Nghe hiểu</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td class="add-info">Giải thích:</td>
                                <td><input id="edit-explanation" name="explanation" type="text" class="form-control" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
