﻿@{
    ViewBag.Title = "Japanese in Your Hand | Tiếng Nhật trong tay bạn";
}
<head>
    <link rel="stylesheet" href="~/Content/assets/css/imports.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">

    <style>
        body {
            margin-top: -5px;
        }

        h3 {
            font-family: 'Open Sans';
        }

        .text-introduce-logo {
            text-align: center;
            padding-top: 40px;
        }

        .text-introduce-title {
            font-family: "Open Sans Light";
            font-size: 48px;
            color: #D7E1E6;
            text-align: center;
            padding-top: 20px;
        }

        .text-introduce-desc {
            font-size: 24px;
            font-family: "Open Sans Light";
            color: #D7E1E6;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 80px;
            padding-left: 18%;
            padding-right: 18%;
        }

        .learn-alphabet {
            background-image: url("../Content/Resources/Image/jyhkana.png");
            background-position: center top;
            background-size: cover;
            background-color: #283C50;
        }

        .learn-alphabet-title {
            font-family: "Open Sans Light";
            font-size: 48px;
            color: #D3DDE7;
            text-align: center;
            padding-top: 125px;
        }

        .learn-alphabet-desc {
            font-size: 24px;
            font-family: "Open Sans Light";
            color: #C8E1FA;
            text-align: center;
            padding-top: 30px;
            padding-bottom: 125px;
            padding-left: 19%;
            padding-right: 19%;
        }

        .revolution {
            background-color: #E1EBF0;
        }

        .revolution-title {
            font-family: "Open Sans Light";
            color: #DCE6FA;
            font-size: 48px;
            text-align: center;
            border-radius: 25px;
            background-color: #141E28;
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 50px;
            margin-right: 50px;
        }

        .introduce-left {
            text-align: left;
        }

        .introduce-right {
            text-align: right;
        }

        .introduce-pic-left {
            text-align: left;
            padding-top: 30px;
        }

        .introduce-pic-right {
            text-align: right;
            padding-top: 30px;
        }

        .introduce-title {
            font-family: "Open Sans Light";
            font-size: 40px;
            padding-top: 30px;
            padding-left: 25px;
            padding-right: 25px;
        }

        .introduce-desc {
            font-size: 20px;
            font-family: "Open Sans";
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 25px;
            padding-right: 25px;
        }

        .course-introduce {
            background-color: #D7E1E6;
        }

        .innovation-introduce {
            background-color: #E1EBF0;
        }

        .jlpt-introduce {
            background-color: #D7E1E6;
        }

        .dictionary-introduce {
            background-color: #E1EBF0;
        }

        .service-introduce {
            background-color: #1E2D3C;
        }

        .service-introduce-title {
            font-family: "Open Sans Light";
            color: #96C8FA;
            font-size: 48px;
            text-align: center;
            padding-top: 100px;
            padding-bottom: 20px;
        }

        .service-introduce-pic {
            text-align: center;
        }

        .service-introduce-num {
            font-family: "Open Sans Light";
            color: #DCE6FA;
            font-size: 72px;
            text-align: center;
        }

        .service-introduce-text {
            font-family: "Open Sans Light";
            color: #96C8FA;
            font-size: 24px;
            text-align: center;
            padding-bottom: 50px;
        }

        .service-introduce-desc {
            font-size: 24px;
            font-family: "Open Sans Light";
            color: #7DBBF9;
            text-align: center;
            padding-bottom: 100px;
            padding-left: 5%;
            padding-right: 5%;
        }

        .free-introduce {
            background-color: #E1EBF0;
        }

        .free-introduce-title {
            font-family: "Open Sans Light";
            font-size: 48px;
            text-align: center;
            padding-top: 100px;
        }

        .free-introduce-desc {
            font-size: 24px;
            font-family: "Open Sans Light";
            text-align: center;
            padding-top: 30px;
            padding-bottom: 100px;
            padding-left: 5%;
            padding-right: 5%;
        }

        .phone-app {
            background-color: #D7E1E6;
        }

        .phone-app-title {
            font-family: "Open Sans Light";
            font-size: 48px;
            text-align: center;
            padding-top: 100px;
        }

        .phone-app-desc {
            font-size: 24px;
            font-family: "Open Sans Light";
            text-align: center;
            padding-top: 30px;
            padding-bottom: 100px;
            padding-left: 5%;
            padding-right: 5%;
        }

        .home-page {
            margin-top: -72px;
        }

        @@media (max-width: 767px) {
            .revolution-title {
                font-size: 32px;
                text-align: center;
                border-radius: 25px;
                background-color: #141E28;
                margin-top: 50px;
                margin-bottom: 50px;
                margin-left: 10px;
                margin-right: 10px;
            }

            .introduce-title {
                font-size: 32px;
                padding-left: 10px;
                padding-right: 10px;
            }

            .introduce-desc {
                font-size: 16px;
                padding-left: 10px;
                padding-right: 10px;
            }

            .service-introduce-title {
                font-size: 32px;
            }

            .service-introduce-desc {
                font-size: 16px;
            }

            .free-introduce-title {
                font-size: 32px;
            }

            .free-introduce-desc {
                font-size: 20px;
            }

            .phone-app-title {
                font-size: 32px;
            }

            .phone-app-desc {
                font-size: 20px;
            }
            .owl-controls{
                visibility:hidden;
            }
        }
 
    </style>
</head>
<body>
    <div class="home-page">
        <section class="featured-slider">
            <h3 class="hidden">Highlights</h3>
            <div class="featured-carousel">
                <div class="item">
                    <div class="bg-img" style="background-image: url(../../Content/Resources/Image/home1.jpg)"></div>
                    <div class="color-hue"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-7 col-md-offset-4">
                                <article>
                                    <h3>Tiếng Nhật trong tay bạn</h3>
                                    <p class="lead">Với hệ thống khóa học toàn diện của Japanese in Your Hand, bạn có thể sở hữu tiếng Nhật trong tay của mình. Hãy tham gia học ngay hôm nay, hoàn toàn MIỄN PHÍ!</p>
                                    <a href="/Study" class="btn btn-primary">Bắt đầu học</a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-img" style="background-image: url(../../Content/Resources/Image/home2.jpg)"></div>
                    <div class="color-hue"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-7 col-md-offset-4">
                                <article>
                                    <h3>Học bảng chữ cái</h3>
                                    <p class="lead">Bạn chưa biết gì về tiếng Nhật? Đừng lo lắng - với phương pháp học đột phá của chúng tôi, bạn có thể học hai bảng chữ cái Hiragana và Katakana nhanh hơn bao giờ hết.</p>
                                    <a href="/Alphabet" class="btn btn-primary">Học bảng chữ cái</a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-img" style="background-image: url(../../Content/Resources/Image/home3.jpg)"></div>
                    <div class="color-hue"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-7 col-md-offset-4">
                                <article>
                                    <h3>Chia động từ</h3>
                                    <p class="lead">Với Japanese in Your Hand, bạn có thể học và luyện tập cách chia động từ trong tiếng Nhật dễ dàng hơn bao giờ hết.</p>
                                    <a href="/Study/LearnConjugate" class="btn btn-primary">Chia động từ</a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="bg-img" style="background-image: url(../../Content/Resources/Image/home4.jpg)"></div>
                    <div class="color-hue"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-7 col-md-offset-4">
                                <article>
                                    <h3>Miễn phí, và sẽ luôn như vậy</h3>
                                    <p class="lead">Nếu bạn muốn học tiếng Nhật, đừng để chi phí trở thành một rào cản. Tất cả các khóa học cơ bản, các bài kiểm tra năng lực và các tính năng vượt trội của Japanese in Your Hand đều hoàn toàn miễn phí.</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fluid" style="max-width: none; margin-left: 20px; margin-right: 20px; padding-left: 0px; padding-right: 0px;">
            <div class="row revolution">
                <div class="revolution-title">Vì sao bạn nên tham gia học với Japanese in Your Hand?</div>
            </div>
            <div class="row course-introduce">
                <div class="col-md-8 introduce-left">
                    <div class="introduce-title">Khóa học miễn phí cho mọi trình độ</div>
                    <div class="introduce-desc">Bạn chưa biết gì về tiếng Nhật? Bạn đang học tiếng Nhật ở trường học hay trung tâm nhưng cảm thấy quá khó? Bạn có thể giao tiếp và đọc hiểu tốt, nhưng vẫn muốn cải thiện kĩ năng? Cho dù bạn là ai, cho dù trình độ của bạn thế nào, chúng tôi đều có khóa học phù hợp cho bạn - hoàn toàn miễn phí.</div>
                </div>
                <div class="col-md-4 introduce-pic-right">
                    <img src="~/Content/Resources/Image/jyhintroduce1.png" />
                </div>
            </div>
            <div class="row innovation-introduce">
                <div class="col-md-4 introduce-pic-left">
                    <img src="~/Content/Resources/Image/jyhintroduce2.png" />
                </div>
                <div class="col-md-8 introduce-right">
                    <div class="introduce-title">Hiểu rõ và cải thiện điểm yếu của bản thân</div>
                    <div class="introduce-desc">Với hệ thống luyện tập trong từng bài học và kiểm tra đánh giá năng lực liên tục, bạn có thể hiểu rõ điểm mạnh và điểm yếu của bản thân. Ngoài ra, chúng tôi sẽ phân tích quá trình học của bạn và cung cấp cho bạn lộ trình phù hợp để bạn có thể cải thiện những kĩ năng mà bạn cần nhất, giúp cho việc học trở nên hiệu quả hơn bao giờ hết.</div>
                </div>
            </div>
            <div class="row jlpt-introduce">
                <div class="col-md-8 introduce-left">
                    <div class="introduce-title">Luyện tập cho kì thi JLPT</div>
                    <div class="introduce-desc">Với nội dung các bài học và những câu hỏi kiểm tra bám sát định dạng đề thi JLPT, bạn có thể vừa học vừa luyện tập hiệu quả cho kì thi.</div>
                </div>
                <div class="col-md-4 introduce-pic-right">
                    <img src="~/Content/Resources/Image/jyhintroduce3.png" />
                </div>
            </div>
            <div class="row dictionary-introduce">
                <div class="col-md-4 introduce-pic-left">
                    <img src="~/Content/Resources/Image/jyhintroduce4.png" />
                </div>
                <div class="col-md-8 introduce-right">
                    <div class="introduce-title">Tra cứu từ vựng, Kanji và ngữ pháp tiện lợi</div>
                    <div class="introduce-desc">Với hệ thống từ điển được tích hợp, bạn có thể nhanh chóng tra cứu từ vựng, Kanji và cả ngữ pháp trong quá trình học mà không cần phải mất nhiều thời gian hay công sức tra cứu bằng những công cụ khác. Toàn bộ từ vựng, Kanji và ngữ pháp được biên soạn cẩn thận nhằm đảm bảo độ chính xác và dễ hiểu.</div>
                </div>
            </div>
            <div class="row service-introduce">
                <div class="service-introduce-title">Với Japanese in Your Hand, bạn có thể học...</div>
                <div class="col-md-4">
                    <div class="service-introduce-pic"><img src="~/Content/Resources/Image/jyhservice1.png" /></div>
                    <div class="service-introduce-num">2,500+</div>
                    <div class="service-introduce-text">Kanji thường dùng</div>
                </div>
                <div class="col-md-4">
                    <div class="service-introduce-pic"><img src="~/Content/Resources/Image/jyhservice2.png" /></div>
                    <div class="service-introduce-num">15,000+</div>
                    <div class="service-introduce-text">Từ vựng thiết yếu</div>
                </div>
                <div class="col-md-4">
                    <div class="service-introduce-pic"><img src="~/Content/Resources/Image/jyhservice3.png" /></div>
                    <div class="service-introduce-num">1,000+</div>
                    <div class="service-introduce-text">Cấu trúc ngữ pháp quan trọng</div>
                </div>
                <div class="service-introduce-desc">Những gì bạn có thể học với Japanese in Your Hand không những đủ cho kì thi JLPT N1, mà còn giúp bạn có thể giao tiếp tốt và đọc hiểu những văn bản phức tạp, giúp cho ngôn ngữ không còn là trở ngại khi bạn sinh sống tại Nhật Bản.</div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 1000 * 20
            });
        });
    </script>
</body>