﻿
@{
    ViewBag.Title = "Gõ tiếng Nhật";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/assets/css/imports.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg6.png");
        }

        a {
            cursor: pointer;
        }

        .bg-overlay {
            height: 300px;
        }

        .intro-title {
            font-family: "Open Sans Light", sans-serif;
            font-size: 48px;
            color: rgb(240,250,230);
            text-shadow: 0 1px 1px rgba(0,0,0,0.7);
            padding-top: 75px;
        }

        .intro-text {
            font-size: 24px;
            color: rgb(230,240,220);
            text-shadow: 0 1px 1px rgba(0,0,0,0.7);
        }

        body {
            padding-top: 0px;
            margin-top: -75px;
        }
    </style>
    <style>
        .progress {
            margin-bottom: 0;
        }

        .col-xs-15,
        .col-sm-15,
        .col-md-15,
        .col-lg-15 {
            position: relative;
            min-height: 1px;
            padding-right: 10px;
            padding-left: 10px;
        }

        .col-xs-15 {
            width: 20%;
            float: left;
        }

        @@media (max-width: 767px) {
            .intro-title {
                font-size: 32px;
            }

            .intro-text {
                font-size: 16px;
            }
        }

        @@media (min-width: 768px) {
            .col-sm-15 {
                width: 20%;
                float: left;
            }
        }

        @@media (min-width: 992px) {
            .col-md-15 {
                width: 20%;
                float: left;
            }
        }

        @@media (min-width: 1200px) {
            .col-lg-15 {
                width: 20%;
                float: left;
            }
        }

        .entry-header {
            height: 200px;
        }

        .level {
            position: absolute;
            width: 30%;
            top: 5px;
            right: 10px;
            border-radius: 20px;
            z-index: 9;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-family: "Open Sans", sans-serif;
        }

        .N-1 {
            background-color: rgb(250,100,100);
        }

        .N-2 {
            background-color: rgb(250,175,100);
        }

        .N-3 {
            background-color: rgb(250,250,100);
        }

        .N-4 {
            background-color: rgb(175,250,100);
        }

        .N-5 {
            background-color: rgb(100,250,100);
        }
    </style>
</head>
<body>
    <section class="" style="background-image: url('../../Content/Resources/Image/course.jpg');">
        <div class="bg-overlay">
            <div class="container">
                <div class="intro-wrap">
                    <h3 class="intro-title">Hướng dẫn cách gõ tiếng Nhật trên các thiết bị</h3>
                    <div class="intro-text"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="regular blog-posts">
        <div class="container" style="padding-left:10%;">
            <div class="row">
                <div>
                    <a class='up-down' data-toggle='collapse' data-target='#tip1'><i class='glyphicon glyphicon-chevron-right'></i> Cài đặt bộ gõ tiếng Nhật trên máy tính</a>
                    <div id='tip1' class='collapse'>
                        <h1 class="entry-title">Cách cài đặt và gõ tiếng Nhật trên máy tính</h1>
                        <h3 style="text-align: justify;">Windows 7</h3>
                        <p style="text-align: justify;">Để <strong>cài đặt bộ gõ tiếng Nhật</strong> hay bất kỳ ngôn ngữ nào khác trên windows 7, các bạn làm theo hướng dẫn sau:</p>
                        <ul style="text-align: justify;">
                            <li>Bấm <strong>Start</strong> , chọn <strong>Control Panel</strong></li>
                            <li>Bấm chọn “<strong>Clock , Language and Region</strong>” ( <em>hoặc <strong>Region and Language</strong> nếu bạn để chế độ hiện thị small icon </em>).</li>
                        </ul>
                        <p style="text-align: justify;"><a href="https://www.flickr.com/photos/akiraeducation/19096568363/in/album-72157655743673396/"><img class="aligncenter wp-image-9762 size-full" src="http://akira.edu.vn/seo/wp-content/uploads/2017/09/cai-dat.png" alt="cài đặt" width="344" height="85" srcset="http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat.png 344w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-300x74.png 300w" sizes="(max-width: 344px) 100vw, 344px"></a></p>
                        <p style="text-align: justify;">– Bạn sẽ thấy những lựa chọn trong cửa sổ “<strong>Regional and Language Option</strong>” , trong tab “<strong>Keyboard and Languages</strong>” chọn “<strong>Change keyboards …</strong>”.</p>
                        <p style="text-align: justify;"><img class="aligncenter wp-image-9763 size-full" src="http://akira.edu.vn/seo/wp-content/uploads/2017/09/cai-dat-1.png" alt="hướng dẫn" width="477" height="549" srcset="http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-1.png 477w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-1-261x300.png 261w" sizes="(max-width: 477px) 100vw, 477px"></p>
                        <p style="text-align: justify;">– Trong cửa sổ “<strong>Text Service and Input Languages</strong>” bạn cần thêm bộ gõ tiếng Nhật và những thành phần Japanese Keyboard , bấm nút “<strong>Add…</strong>”.</p>
                        <p style="text-align: justify;"><img class="aligncenter wp-image-9764 size-full" src="http://akira.edu.vn/seo/wp-content/uploads/2017/09/cai-dat-2.png" alt="cài đặt" width="416" height="491" srcset="http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-2.png 416w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-2-254x300.png 254w" sizes="(max-width: 416px) 100vw, 416px"></p>
                        <p style="text-align: justify;">– Bạn sẽ thấy cửa sổ “<strong>Add Input Language</strong>” . Cuộn xuống dưới tới phần Japanese , mở rộng mục này để bảo đảm cả Japanese và Microsoft IME đã được lựa chọn.</p>
                        <p><img class="aligncenter wp-image-9765 size-full" src="http://akira.edu.vn/seo/wp-content/uploads/2017/09/cai-dat-3.png" alt="cài đặt" width="419" height="384" srcset="http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-3.png 419w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-3-300x275.png 300w" sizes="(max-width: 419px) 100vw, 419px"></p>
                        <p style="text-align: justify;">– Bấm nút <strong>OK</strong> . Bạn sẽ thấy “<strong>Japanese</strong>” trong phần “<strong>Installed Services</strong>”. Cuối cùng bấm nút <strong>OK</strong> .</p>
                        <p><img class="aligncenter wp-image-9766 size-full" src="http://akira.edu.vn/seo/wp-content/uploads/2017/09/cai-dat-4.png" alt="" width="417" height="492" srcset="http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-4.png 417w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-4-254x300.png 254w" sizes="(max-width: 417px) 100vw, 417px"></p>
                        <p style="text-align: justify;">Kết thúc bạn sẽ thấy biểu tượng IME trên thanh TaskBar và lựa chọn Japanes khi cần thiết.</p>
                        <p><img class="size-full wp-image-9768 aligncenter" src="http://akira.edu.vn/seo/wp-content/uploads/2017/09/cai-dat-5.jpg" alt="" width="249" height="188"></p>


                        <h2 style="text-align: justify;">Windows 8</h2>
                        <ul style="text-align: justify;">
                            <li>Bấm <strong>Start</strong> , chọn <strong>Control Panel</strong></li>
                            <li>Tại mục “<strong>Clock , Language and Region</strong>” ( <em>hoặc <strong>Region and Language</strong> nếu bạn để chế độ hiện thị small icon </em>), bạn click vào <strong>Add a Language</strong></li>
                        </ul>
                        <p><img class="aligncenter wp-image-9770 size-full" src="http://akira.edu.vn/seo/wp-content/uploads/2017/09/cai-dat-6.jpg" alt="" width="318" height="86" srcset="http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-6.jpg 318w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-6-300x81.jpg 300w" sizes="(max-width: 318px) 100vw, 318px"></p>
                        <p style="text-align: justify;">– Hiện ra cửa sổ ngôn ngữ, bạn chọn tiếp <strong>Add a Language</strong></p>
                        <p><img class="aligncenter wp-image-9771 size-full" src="http://akira.edu.vn/seo/wp-content/uploads/2017/09/cai-dat-7.jpg" alt="" width="1022" height="265" srcset="http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-7.jpg 1022w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-7-300x78.jpg 300w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-7-768x199.jpg 768w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-7-610x158.jpg 610w" sizes="(max-width: 1022px) 100vw, 1022px"></p>
                        <p style="text-align: justify;">– Kéo xuống phía dưới, bạn sẽ thấy <strong>Japanese</strong>, click vào đó</p>
                        <p><img class="aligncenter wp-image-9772 size-full" src="http://akira.edu.vn/seo/wp-content/uploads/2017/09/cai-dat-8.jpg" alt="" width="1271" height="379" srcset="http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-8.jpg 1271w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-8-300x89.jpg 300w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-8-768x229.jpg 768w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-8-1024x305.jpg 1024w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-8-1080x322.jpg 1080w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-8-610x182.jpg 610w" sizes="(max-width: 1271px) 100vw, 1271px"></p>
                        <p style="text-align: justify;">– Vậy là xong, bạn có thể chuyển đổi nhanh bàn phím bằng nút <strong>Windows + Space&nbsp;</strong>hoặc <strong>Alt + Shift</strong></p>
                        <p><img class="aligncenter wp-image-9773 size-full" src="http://akira.edu.vn/seo/wp-content/uploads/2017/09/cai-dat-9.jpg" alt="" width="304" height="276" srcset="http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-9.jpg 304w, http://akira.edu.vn/wp-content/uploads/2017/09/cai-dat-9-300x272.jpg 300w" sizes="(max-width: 304px) 100vw, 304px"></p>
                        <p style="text-align: justify;">Nguồn: “Cài đặt và gõ tiếng Nhật trên windows 7”, lophoctiengnhat.edu.vn</p>
                    </div>
                </div>
                <br />
                <div>
                    <a class='up-down' data-toggle='collapse' data-target='#tip2'><i class='glyphicon glyphicon-chevron-right'></i> Cài đặt bộ gõ tiếng Nhật trên Android</a>
                    <div id='tip2' class='collapse'>
                            <h2><strong><span style="font-size:18px;">Hướng dẫn cài bàn phím tiếng Nhật cho Android (OPPO, Samsung...)</span></strong></h2>

                            <p><em><strong>Bước 1</strong></em>: Đầu tiên bạn phải tải và cài đặt <a href="https://play.google.com/store/apps/details?id=com.google.android.inputmethod.japanese&amp;hl=en">Google Japanese Input trên kho Android</a>. Trong lần đầu mở ứng dụng lên, hãy bấm Next để bắt đầu thiết lập.</p>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="a1-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a1-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật cho Android: Đầu tiên bạn phải tải và cài đặt Google Japanese Input trên kho Android. Trong lần đầu mở ứng dụng lên, hãy bấm Next (khoanh đỏ) để bắt đầu thiết lập.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p><em><strong>Bước 2</strong></em>: Bấm Next lần nữa để bắt đầu thiết lập cho Google Japanese Input.</p>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="a2-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a2-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật cho Android: Bấm Next lần nữa để bắt đầu thiết lập cho Google Japanese Input.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p><em><strong>Bước 3</strong></em>: Đánh dấu chọn vào Google Japanese Input.</p>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="a3-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a3-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật cho Android: Đánh dấu chọn vào Google Japanese Input.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p><em><strong>Bước 4</strong></em>: Bấm nút OK để xac nhận quyết định sử dụng Google Japanese Input cho chiếc điện thoại Android của mình.</p>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a class="gallery"><img alt="a4-5-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a4-5-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật cho Android: Bấm nút OK để xac nhận quyết định sử dụng Google Japanese Input cho chiếc điện thoại Android của mình.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p><em><strong>Bước 5</strong></em>: Bấm vào biểu tượng tùy chỉnh của Google Japanese Input rồi bấm Next để thực hiện chọn ứng dụng này làm bàn phím mặc định. Nếu trong quá trình thiết lập bạn bỏ qua bước này thì vẫn có thể <a href="http://ictnews.vn/the-gioi-so/thu-thuat/cach-cai-dat-ban-phim-tieng-viet-mac-dinh-cho-android-121969.ict">đặt bàn phím mặc định</a> là Google Japanese Input về sau này.</p>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a class="gallery"><img alt="a5-1-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a5-1-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật cho Android: Bấm vào biểu tượng tùy chỉnh (khoanh đỏ) của Google Japanese Input...</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table align="center" class="imageBox">
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align: center;"><a  class="gallery"><img alt="a5-2-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a5-2-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" class="news-img"></a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật cho Android: Bấm Next để thực hiện chọn Google Japanese Input làm bàn phím mặc định.</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p><em><strong>Bước 6</strong></em>: Đánh dấu chọn Google Japanese Input làm bàn phím mặc định.</p>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="a6-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a6-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật cho Android: Đánh dấu chọn Google Japanese Input làm bàn phím mặc định.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p><em><strong>Bước 7</strong></em>: Bạn có thể khám phá các mục tùy chỉnh của Google Japanese Input, hoặc có thể tạm thời bỏ qua bước này bằng cách trở về màn hình chính của điện thoại.</p>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="a7-5-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a7-5-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật cho Android: Bạn có thể khám phá các mục tùy chỉnh của Google Japanese Input nếu thích.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p><em><strong>Bước 8</strong></em>: Bây giờ bạn đã có bàn phím tiếng Nhật nổi lên mỗi khi cần gõ văn bản. Khi nhấn giữ một ký tự (Hiragana), bạn sẽ có thêm 4 lựa chọn ký tự gần tương tự khác bằng cách vuốt lên, xuống, trái, phải. Ngoài ra bạn cũng có thể chuyển sang cụm phím ký tự thường và cụm phím số.</p>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="a8-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a8-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật cho Android: Khi gõ văn bản, nhấn giữ một ký tự (Hiragana), bạn sẽ có thêm 4 lựa chọn khác bằng cách vuốt lên, xuống, trái, phải. Ngoài ra bạn cũng có thể chuyển sang cụm phím ký tự thường (phím 1) và cụm phím số (phím 2).</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p><em><strong>Bước 9</strong></em>: Khi đã chọn một ký tự Hiragana rồi, bạn vẫn có thể đổi sang ký tự Katakana tương đương hoặc ký tự Kanji có liên quan ở phần gợi ý phía dưới. Hãy bấm mũi tên xuống nếu muốn mở rộng bảng lựa chọn.</p>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="a9-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a9-huong-dan-cai-ban-phim-tieng-nhat-cho-android-cai-ban-phim-tieng-nhat-cho-oppo-f1s-cai-ban-phim-tieng-nhat-cho-samsung-cai-ban-phim-nhat-viet-cho-android.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật cho Android: Khi đã chọn một ký tự Hiragana rồi, bạn vẫn có thể đổi sang ký tự Katakana tương đương hoặc ký tự Kanji có liên quan ở phần gợi ý phía dưới. Hãy bấm mũi tên xuống (phím 3) nếu muốn mở rộng bảng lựa chọn.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                </div>
                <br />
                <div>
                    <a class='up-down' data-toggle='collapse' data-target='#tip3'><i class='glyphicon glyphicon-chevron-right'></i> Cài đặt bộ gõ tiếng Nhật trên iOS</a>
                    <div id='tip3' class='collapse'>
                            <h2><span style="font-size:18px;"><strong>Hướng dẫn cài bàn phím tiếng Nhật iOS, iPhone, iPad</strong></span></h2>

                            <p><em><strong>Bước 1</strong></em>: Để cài đặt bàn phím tiếng Nhật, trên iPhone hoặc iPad chúng ta chỉ việc vào mục <em><strong>Cài đặt</strong></em> =&gt; <em><strong>Cài đặt chung</strong></em> =&gt; <em><strong>Bàn phím</strong></em>... để cài thêm bàn phím mới.</p>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="a1-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a1-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật iOS<em>: T</em>rên iPhone chúng ta chỉ cần vào mục <em><strong>Cài đặt</strong></em> =&gt; <em><strong>Cài đặt chung</strong></em>...</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="a2-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a2-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật iOS<em>: </em>Vào tiếp mục <strong>Bàn phím</strong>.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="a3-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a3-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật iOS<em>: </em>Vào tiếp mục <strong>Bàn phím</strong>, nơi list các ngôn ngữ hiện có bàn phím hỗ trợ.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="a5-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a5-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật iOS<em>: </em>Bấm <strong>Thêm Bàn phím Mới</strong>.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="b6-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios-img_0463(1).jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/b6-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios-img_0463(1).jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật iOS<em>: </em>Kéo xuống tìm và bấm chọn Tiếng Nhật.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="b8-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios-img_0464.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/b8-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios-img_0464.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật iOS<em>: </em>Thường khi sử dụng tiếng Nhật chúng ta sẽ đánh dấu chọn bảng chữ Kana, bao gồm 2 bộ Hiragana và Katakana. Sau đó hãy bấm Xong để hoàn tất.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p><em><strong>Bước 2</strong></em>: Bây giờ khi dùng bàn phím trên iPhone chúng ta hãy để ý các phím nằm bên trái phím dấu cách, nếu chưa thấy phím biểu tượng quả địa cầu thì chúng ta bấm giữ phím nằm ngay bên trái dấu cách và quét chọn biểu tượng quả địa cầu. Sau đó hãy bấm giữ phím biểu tượng quả địa cầu và chọn ngôn ngữ tiếng Nhật.</p>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="a9-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/a9-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật iOS<em>: </em>Bây giờ khi dùng bàn phím trên iPhone chúng ta hãy để ý các phím nằm bên trái phím dấu cách, nếu chưa thấy phím biểu tượng quả địa cầu thì chúng ta bấm giữ phím nằm ngay bên trái dấu cách và quét chọn biểu tượng quả địa cầu.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="b10-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios-img_0465.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/b10-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios-img_0465.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật iOS<em>: </em>Hãy bấm giữ phím biểu tượng quả địa cầu và chọn ngôn ngữ tiếng Nhật.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p><em><strong>Bước 3</strong></em>: Bây giờ chúng ta đã có thể tha hồ dùng bàn phím tiếng Nhật. Giao diện chính của bàn phím tiếng Nhật sẽ bao gồm các phím chữ cái bảng Hiragana như a, ka, sa, ta, na... Khi bấm giữ một phím chữ cái này thì chúng ta sẽ có thêm các lựa chọn i, ki, shi, chi, ni..., u, ku, su, tsu, nu... Ngoài ra khi đã chọn chữ cái nào thì chúng ta có thể lựa chọn đổi sang chữ cái tương đương trong các bảng khác đặc biệt là bảng Katakana.</p>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="b11-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios-img_0466.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/b11-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios-img_0466.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật iOS<em>: </em>Giao diện chính của bàn phím tiếng Nhật sẽ bao gồm các phím chữ cái bảng Hiragana như a, ka, sa, ta, na... Khi bấm giữ một phím chữ cái này thì chúng ta sẽ có thêm các lựa chọn. Ví dụ như trong hình chúng ta bấm giữ phím ha (1) thì sẽ có thêm các lựa chọn hi (2), fu (3), he (4), ho (5).</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="b12-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios-img_0467.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/b12-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios-img_0467.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật iOS<em>: </em>Khi đã chọn chữ cái nào thì chúng ta có thể lựa chọn đổi sang chữ cái tương đương trong các bảng khác đặc biệt là bảng Katakana.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table align="center" class="imageBox">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;"><a  class="gallery"><img alt="b15-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios-img_0468.jpg" src="http://image1.ictnews.vn/_Files/2017/05/25/b15-huong-dan-cai-ban-phim-tieng-nhat-ios-iphone-ipad-cai-ban-phim-tieng-nhat-cho-ios-cai-ban-phim-tieng-nhat-ban-ios-img_0468.jpg" class="news-img"></a></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="PCaption">Hướng dẫn cài bàn phím tiếng Nhật iOS<em>: </em>Khi đã nắm được nguyên tắc thì chúng ta đã có thể tha hồ dùng bàn phím tiếng Nhật.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                    </div>
                </div>
                <br />
                <div>
                    <a class='up-down' data-toggle='collapse' data-target='#tip4'><i class='glyphicon glyphicon-chevron-right'></i> Cách gõ Tiếng Nhật</a>
                    <div id='tip4' class='collapse'>
                        <h3>
                            <b style="color: #cc0000;"><span style="font-size: large;"><i>Sơ lược về cách gõ tiếng Nhật</i></span></b>
                        </h3>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            <a name="more"></a><b style="color: #0b5394;">Gõ hiragana:</b><span style="color: #0b5394;"> </span>Chọn kiểu gõ hiragana. Về cơ bản thì để gõ chữ hiragana bạn cần gõ chữ cái tương ứng, ví dụ gõ "ka" (k + a) sẽ cho ra chữ ka hiragana: "k" + "a" = "か".
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            JCLASS sẽ hướng dẫn một số chữ phức tạp&nbsp; hơn:
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            つ： tsu (hoặc tu)
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            ふ： fu (hoặc hu)
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            し： shi (hoặc si)
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            <b>Để gõ các trường âm (như sha, shou, chou, jou,...)</b>
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            しょ： sho&nbsp;&nbsp;&nbsp;&nbsp; しょう： shou　　ちょう： chou&nbsp;&nbsp; じょう： jou&nbsp;&nbsp; じょ： jo&nbsp;&nbsp;&nbsp;&nbsp; ちゅ： chu&nbsp; .....<br>
                            りゅう： ryuu &nbsp; &nbsp; りょ： ryo&nbsp;&nbsp;&nbsp;&nbsp; りょう： ryou&nbsp;&nbsp; みょう： myou .....<br>
                            (Chú ý: しよう thì gõ thông thường: shi + you)
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            <b>Gõ chữ を (đối cách):</b>
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            や： ya&nbsp;&nbsp;&nbsp; ゆ： yu&nbsp;&nbsp; よ： yo&nbsp;&nbsp; を： wo&nbsp; .....
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            Hàng za, ji, zu, ze, zo:&nbsp; Riêng じ có 2 cách gõ
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            ざ： za &nbsp; &nbsp; ず： zu&nbsp; &nbsp;&nbsp; じ： zi hoặc ji&nbsp; .....
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            づ： du&nbsp;&nbsp;&nbsp;&nbsp; じ：ji, zi&nbsp;&nbsp; ぢ： di&nbsp; .....
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            じゃ： ja&nbsp;&nbsp; じゅ： ju&nbsp;&nbsp; じゅう： juu&nbsp; .....
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            <b>Chữ nhỏ:</b> Dùng x (hoặc "l") trước mỗi chữ
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            ぁ： xa (la)&nbsp;&nbsp;&nbsp;&nbsp; ぃ： xi (li)&nbsp; &nbsp; ぇ： xe&nbsp; &nbsp;&nbsp; ぅ： xu &nbsp;&nbsp; ぉ： xo
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            ゃ： xya (lya)&nbsp;&nbsp;&nbsp; ゅ： xyu&nbsp;&nbsp;&nbsp; ょ： xyo
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            Chữ "tsu" nhỏ (âm lặng): Gõ 2 lần phụ âm đứng sau
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            さっと： satto&nbsp;&nbsp;&nbsp;&nbsp; じっし： jisshi&nbsp;&nbsp;&nbsp; まっちゃ：maccha
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            <b>Chữ "n" ( ん):</b> Gõ "nn", nếu sau đó là phụ âm nối tiếp thì chỉ cần gõ một chữ "n" (nếu nguyên âm thì phải gõ hai lần "nn" nếu không sẽ thành "na", "ni",...)
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            くん： kunn
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            くんしゅ： kunshu (hoặc kunnshu với 2 chữ: "nn")
                        </div>
                        <div style="color: #0b5394; font-family: Arial,Helvetica,sans-serif;">
                            <b>Gõ katakana:</b>
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            Cách 1: Chọn kiểu gõ katakana.
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            Cách 2: Gõ Hiragana (đừng ấn Enter) rồi ấn F7.
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            <b style="color: #0b5394;">Gõ kanji:</b><span style="color: #0b5394;"> </span>Chọn kiểu gõ hiragana. Gõ xong cách đọc hiragana ấn phím cách (Space Bar) để chuyển đổi, IME sẽ hiện một danh sách để bạn chọn (ấn tiếp phím cách để chọn cụm từ tiếp theo, khi nào ưng thì ấn Enter).
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            Ví dụ: Để gõ chữ "Tự do" thì bạn gõ "j i y u u" sẽ được じゆう (đừng gõ Enter vội!), ấn phím cách thì sẽ hiện một danh sách, chọn chữ "自由" và ấn Enter.
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            <b style="color: #cc0000;">Bài tập:</b> Gõ "shinsei" rồi chọn chữ "神聖".<br>
                            <b><span style="color: #38761d;">Về cơ bản, để gõ tiếng Nhật bạn phải gõ chữ hiragana trước rồi ấn phím cách (space bar) để chuyển đổi sang từ tiếng Nhật</span></b>, bằng kanji như 食事 (bữa ăn), hay katakana như オウム (con vẹt) hay 食べる (ăn); sự chuyển đổi này gọi là 変換 (henkan, "<i>biến hoán</i>" = chuyển đổi).<br>
                            Tất nhiên là sẽ có chuyển đổi nhầm (誤変換, <i>gohenkan</i>, "<i>ngộ biến hoán</i>"), ví dụ thay vì chuyển "seisei" thành 精製 (<i>tinh chế</i>) thì lại thành 生成 (<i>sinh thành</i>). Một số thuật ngữ phần mềm nhập tiếng Nhật (Japanese IME):<br>
                            <div style="text-align: center;">
                                誤変換： Chuyển đổi nhầm
                            </div>
                            <div style="text-align: center;">
                                誤字： Chữ sai
                            </div>
                            <div style="text-align: center;">
                                脱字： Chữ sót (gõ thiếu)
                            </div>
                            <div style="text-align: center;">
                                誤字脱字： Chữ sai, chữ sót
                            </div>
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            <br>
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            <b>Tại sao tôi hướng dẫn bạn cách gõ trên?</b>
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            Có thể bạn sẽ thắc mắc tại sao tôi lại hướng dẫn bạn gõ:
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            つ： tsu thay vì tu
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            し： shi thay vì si
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            しょう： shou thay vì syou, v.v....
                        </div>
                        <div style="font-family: Arial,Helvetica,sans-serif;">
                            Đúng là có nhiều cách gõ, tuy nhiên tôi muốn các bạn gõ theo đúng cách phát âm, như vậy sẽ vừa nhớ cách gõ mà vừa nhớ cách phát âm luôn. Trong một bài khác tôi sẽ hướng dẫn các bạn cách gõ ký hiệu bằng tiếng Nhật một cách đơn giản sử dụng Japanese IME, ví dụ:
                        </div>

                        <div style="clear: both;"></div>
                        <div style="font-family: Arial, Helvetica, sans-serif;">
                            Ngôi sao: ★☆ (hoshi) &nbsp; &nbsp;Tứ giác: ◆　◇　■ (shikaku) &nbsp; &nbsp;Hình tròn:　●　◎ (maru) &nbsp; &nbsp; &nbsp;Chữ Hi Lạp: α (arufa)　Ω (omega) &nbsp; &nbsp;Chữ cái tiếng Nga: Ш (sha)　ж (je) &nbsp; &nbsp; &nbsp;Mũi tên:　↑　⇔ &nbsp;(yajirushi) &nbsp; &nbsp; &nbsp;Ký hiệu trong văn bản tiếng Nhật: ※ (kome = gạo) &nbsp; &nbsp; &nbsp; Dấu toán học:　÷ (waru)　× (dấu nhân chứ không phải chữ x nhé) (kakeru)
                        </div>
                    </div>
                </div>
                <br />
                <div>
                    <a class='up-down' data-toggle='collapse' data-target='#tip5'><i class='glyphicon glyphicon-chevron-right'></i> Thủ thuật gõ Tiếng Nhật hiệu quả</a>
                    <div id='tip5' class='collapse'>
                        <h1 style="text-align: justify;">Thủ thuật gõ tiếng Nhật hiệu quả</h1>
                        <p style="text-align: justify;"><em><strong>Một số thủ thuật giúp bạn gõ và sử dụng tiếng Nhật hiệu quả nhất trên máy tính, giúp các bạn gõ tiếng Nhật nhanh hơn và chính xác hơn, giảm thiểu thời gian dùng tác động của chuột.</strong></em></p>



                        <h2 style="text-align: justify;">Phím tắt</h2>
                        <p style="text-align: justify;"><strong>Alt + Shift</strong> : Chuyển đổi nhanh bàn phím Nhật, Eng,…</p>
                        <p style="text-align: justify;"><strong>Alt + Capslock</strong> : Chuyển đổi sang bộ gõ katakana</p>
                        <p style="text-align: justify;"><strong>Ctrl + Capslock</strong> : Chuyển đổi sang bộ gõ&nbsp;hiragana</p>
                        <h2 style="text-align: justify;">Sử dụng kí tự đặc biệt</h2>
                        <p style="text-align: justify;">
                            Một điểm đặc biệt là các bạn có thể sử dụng bàn phím tiếng Nhật để gõ các kí tự đặc biệt. Các bạn gõ theo kí hiệu romaji và nhấn phím [Space]
                        </p>
                        <h2 style="text-align: justify;">Chữ hiragana/katakana nhỏ</h2>
                        <p style="text-align: justify;">Chỉ dành cho các nguyên âm ぁぅぃぉぇ／ァィゥォェ, chữ tsu（っ／ッ） và ya（ゃ／ャ）,yu（ゅ／ュ）,yo（ょ／ョ）</p>
                        <ul style="text-align: justify;">
                            <li>cách 1:&nbsp;ấn phím l + chữ cần thu nhỏ</li>
                            <li>cách 2: ấn phím x + chữ cần thu nhỏ</li>
                        </ul>
                        <h2 style="text-align: justify;">ず và づ／じ và ぢ</h2>
                        <p style="text-align: justify;">ず = z + u</p>
                        <p style="text-align: justify;">づ = d + u</p>
                        <p style="text-align: justify;">じ = z + i</p>
                        <p style="text-align: justify;">ぢ = d + i</p>
                        <p style="text-align: justify;">Ngoài ra, có một số cách gõ nhanh như sau :</p>
                        <p style="text-align: justify;">つ = t + u</p>
                        <p style="text-align: justify;">ち = t + i</p>
                        <p style="text-align: justify;">し = s + i</p>
                        <h2 style="text-align: justify;">Âm ん</h2>
                        <p style="text-align: justify;">Ví dụ bạn muốn gõ chữ&nbsp;勧誘 (kan – yuu). Tuy nhiên, nếu gõ y nguyên là k-a-n-y-u-u thì nó sẽ trở thành かにゅう chứ không phải là &nbsp;かんゆう nữa. Để đối phó với trường hợp này, các bạn phải gõ phím n hai lần. Như vậy, chữ&nbsp;&nbsp;勧誘 sẽ được gõ là k-a-n-n-y-u-u.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>
    <script>
        $(document).done(function () {
            $('.collapse').collapse().collapse("hide");
        });
    </script>
</body>

