﻿
@{
    ViewBag.Title = "Japanese In Your Hand | Add Lesson Kanji";
    Layout = null;
}
<head>
    <style>
        .add-info {
            color: purple;
        }
    </style>
    <script>
        $(document).on("click", "#rePss", function () {
            var text = $("#rePss").text();
            if (text == "Đóng") {
                $('.lesson-collapse').collapse("hide");
                $("#rePss").text("Xem Chi Tiết");
            } else {
                $('.lesson-collapse').collapse("show");
                $("#rePss").text("Đóng");
            }

        });
    </script>
</head>
<div class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Thêm ngữ pháp cho bài học '@Html.Raw(ViewBag.Lesson.Name)'</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="add-info">ID bài học:</td>
                                <td><input type="text" value="@ViewBag.Lesson.ID" disabled /></td>
                            </tr>
                            <tr>
                                <td class="add-info">Ngữ pháp:</td>
                                <td><input id="grammar-auto" type="text" class="form-control" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="demo" class="lesson-collapse collapse">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="add-info">ID ngữ pháp: </td>
                                    <td><input disabled type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Cấu trúc</td>
                                    <td><input disabled type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Cách sử dụng</td>
                                    <td><input disabled type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Trình độ</td>
                                    <td><input disabled type="text" /></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Nghĩa</td>
                                    <td><input disabled type="text" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn  btn-primary" type="button"
                    data-toggle="tooltip"
                    data-original-title="Đổi mật khẩu" id="rePss">
                Xem chi tiết
            </button>
        </div>
    </div>
</div>
