﻿@model JYHWebUI.Models.DTOs.KanjiDto
@{
    ViewBag.Title = "Japanese In Your Hand | Add Lesson Kanji";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <style>
        .add-info {
            color: purple;
        }
        .ui-autocomplete{
            z-index:10000;
        }
    </style>
    <script>        
        (function ($) {
            $(function () {
                jQuery(document).on("click", "#rePss", function () {
                    var text = jQuery("#rePss").text();
                    if (text == "Đóng") {
                        jQuery('.lesson-collapse').collapse("hide");
                        jQuery("#rePss").text("Xem Chi Tiết");
                    } else {
                        jQuery('.lesson-collapse').collapse("show");
                        jQuery("#rePss").text("Đóng");
                    }

                });
                jQuery(document).ready(function () {
                    jQuery("#kanji-auto").on("focus",function(){
                        jQuery("#kanji-auto").autocomplete({
                            source: function (request, response) {
                                $.ajax({
                                    url: "/AutoComplete/Index",
                                    type: "POST",
                                    dataType: "json",
                                    data: { Prefix: request.term },
                                    success: function (data) {
                                        response(jQuery.map(data, function (item) {
                                            return { label: item.Kanji, value: item.Kanji };
                                        }))

                                    }
                                })
                            },
                            messages: {
                                noResults: "", results: ""
                            }
                        });
                    });
                });
            });
        })(jQuery);
        
    </script>
</head>
<div class="col-sm-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Thêm Kanji cho bài học '@Html.Raw(ViewBag.Lesson.Name)'</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="add-info">ID bài học:</td>
                                <td><input type="text" value="@ViewBag.Lesson.ID" disabled/></td>
                            </tr>
                            <tr>
                                <td class="add-info">Kanji:</td>
                                <td><input id="kanji-auto" type="text" class="form-control"/></td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="demo" class="lesson-collapse collapse">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="add-info">ID Kanji:</td>
                                    <td><input disabled type="text"/></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Kanji:</td>
                                    <td><input disabled type="text"/></td>
                                </tr>
                                <tr>
                                    <td class="add-info">On'yomi:</td>
                                    <td><input disabled type="text"/></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Kun'yomi</td>
                                    <td><input disabled type="text"/></td>
                                </tr>
                                <tr>
                                    <td class="add-info">Nghĩa:</td>
                                    <td><input disabled type="text" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn  btn-primary" type="button"
                    data-toggle="tooltip"
                    data-original-title="Đổi mật khẩu" id="rePss">
                Xem chi tiết
            </button>
        </div>
    </div>
</div>
