﻿<style>
    .dic-detail {
        text-align: center;
    }
     .kanji1 {
            font-size: 72px;
        }
        .kanji2 {
            font-size: 20px;
            color: rgb(100,125,150);
        }
        .kanji3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .kanji4 {
            font-size: 20px;
        }
        .kanji5 {
            font-size: 20px;
        }
        .kanji6 {
            margin-top: 10px;
        }
        .kanji7 {
            font-size: 18px;
            color: rgb(100,100,100);
            margin-bottom: 10px;
        }
</style>
<div class="dic-detail">
    <div class="divider-10"></div>
    @{ var mneLink = "/Content/Resources/Image/Kanji/" + ViewBag.KanjiDetail.Kanji + ".png"; }
    <div class="col-sm-12 kanji1">@ViewBag.KanjiDetail.Kanji</div>
    <div class="col-sm-12 kanji2"><span>[</span>@ViewBag.KanjiDetail.Sino<span>]</span></div>
    <div class="col-sm-12 kanji3">@ViewBag.KanjiDetail.Meaning</div>
    @if (ViewBag.KanjiDetail.Onyomi != "")
    {
        <div class="col-sm-12 kanji4"><div class='dic-icon dic-icon-red'>On</div> @ViewBag.KanjiDetail.Onyomi</div>
    }
    @if (ViewBag.KanjiDetail.Kunyomi != "")
    {
        <div class="col-sm-12 kanji5"><div class='dic-icon dic-icon-yellow'>Kun</div> @ViewBag.KanjiDetail.Kunyomi</div>
    }

    <div class="col-sm-12 kanji6"><img src="@mneLink"></div>
    <div class="col-sm-12 kanji7">@ViewBag.KanjiDetail.Mnemonic</div>
    <div class="divider-10"></div>
</div>