﻿@{
    ViewBag.Title = "Chia động từ";
}
@model List<string>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/raphael-min.js"></script>
    <script src="~/Scripts/dmak.js"></script>
    <script src="~/Content/assets/js/ResponsiveVoice.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <style>
        body {
            background-image: url("../../Content/Resources/Image/bg3.png");
        }

        .container {
            margin: 0 auto;
            width: 90%;
            background-color: rgba(255,255,255,0.6);
            margin-top: 20px;
            border-radius: 25px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        h2 {
            text-align: center;
        }

        h3 {
            text-align: center;
        }

        ul.tabs {
            margin: 0px;
            padding: 0px;
            list-style: none;
        }

            ul.tabs li {
                background-color: rgba(200, 220, 180, 0.2);
                color: #222222;
                display: inline-block;
                padding: 10px 15px;
                cursor: pointer;
                font-size: 14px;
            }

                ul.tabs li.current {
                    background-color: rgba(200, 220, 180, 0.6);
                    color: #222222;
                }

        .kana-tab-content {
            display: none;
            background-color: rgba(200, 220, 180, 0.6);
            padding: 15px;
        }


            .kana-tab-content.current {
                display: inherit;
            }

        .modal-kana-stroke {
            text-align: center;
            font-family: "Stroke Order";
            font-size: 200px;
        }

        .modal-kana-mnemonic {
            text-align: center;
        }

        .kana-notes {
            margin-top: 30px;
            background-color: rgb(250,250,200);
        }

        .kana-notes-title {
            color: rgb(250,50,50);
            font-size: 24px;
            padding-left: 10px;
        }

        .kana-notes-desc {
            color: rgb(150,50,50);
            font-size: 18px;
            padding-left: 30px;
        }

        .jp-table {
            text-align: center;
        }

        .jp-button {
            display: inline-block;
            border-radius: 5px;
            padding-left: 0.5%;
            padding-right: 0.5%;
            margin: auto;
        }

        .jp-button-small {
            width: 18.5%;
        }

        .jp-button-large {
            width: 32%;
        }

        .jp-text {
            margin: auto;
            border: 2px solid #889977;
            background-color: #EEF5E7;
            text-align: center;
            border-radius: 5px;
            line-height: 1.6;
            font-size: 30px;
            cursor: pointer;
        }

        .jp-text {
            transition: all 0.1s ease-in-out;
        }

            .jp-text:hover {
                transform: scale(1.2);
                background-color: #C9E0AF;
            }

        .jp-romaji {
            color: #889977;
            text-align: center;
            line-height: 1;
            font-size: 20px;
        }

        .jp-left {
            margin-left: 3%;
            margin-right: 2%;
            width: 55%;
            float: left;
        }

        .jp-right {
            margin-left: 2%;
            margin-right: 3%;
            width: 35%;
            float: right;
        }

        .jp-left-ex {
            margin-left: 3%;
            margin-right: 2%;
            width: 45%;
            float: left;
        }

        .jp-right-ex {
            margin-left: 2%;
            margin-right: 3%;
            width: 45%;
            float: right;
        }

        .jp-practice {
            font-size: 24px;
            text-align: center;
            margin-bottom: 30px;
        }

        .jp-title-num {
            font-family: "Open Sans", sans-serif;
            font-size: 36px;
            font-weight: 800;
            margin-right: 10px;
            color: rgb(60,80,120);
            display: inline;
        }

        .jp-title-desc {
            font-family: "Open Sans", Meiryo, sans-serif;
            font-size: 24px;
            color: rgb(45,60,90);
            display: inline;
        }

        .jp-step-num {
            font-family: "Open Sans", Meiryo, sans-serif;
            font-size: 24px;
            margin-left: 40px;
            margin-right: 10px;
            color: rgb(60,80,120);
            display: inline;
        }

        .jp-step-desc {
            font-family: "Open Sans", Meiryo, sans-serif;
            font-size: 20px;
            color: rgb(30,40,20);
            display: inline;
        }

        .jp-usage-example {
            font-size: 20px;
            margin-left: 50px;
        }

        .jp-usage-trans {
            font-size: 18px;
            font-style: italic;
            color: rgb(60,80,120);
            margin-left: 60px;
            margin-top: 5px;
            margin-bottom: 20px;
        }

        .jp-intro-title {
            font-family: "Open Sans Light", Meiryo, sans-serif;
            color: #E6FADC;
            font-size: 36px;
            text-align: center;
            border-radius: 25px;
            background-color: #889977;
            margin-top: 20px;
            margin-bottom: 10px;
            margin-left: 20%;
            margin-right: 20%;
        }

        .jp-intro-desc {
            margin-left: 50px;
            margin-right: 50px;
            padding-bottom: 25px;
        }

        .mne-copyright {
            color: #CCCCCC;
            text-align: center;
        }

        @@media (max-width: 1299px) {
            ul.tabs li {
                font-size: 13px;
            }
        }

        @@media (max-width: 767px) {
            .container {
                width: 100%;
            }

            .jp-left {
                margin-left: 3%;
                margin-right: 3%;
                width: 94%;
                float: left;
            }

            .jp-right {
                margin-left: 3%;
                margin-right: 3%;
                width: 94%;
                float: right;
            }

            .jp-left-ex {
                margin-left: 3%;
                margin-right: 3%;
                width: 94%;
                float: left;
            }

            .jp-right-ex {
                margin-left: 3%;
                margin-right: 3%;
                width: 94%;
                float: right;
            }

            .jp-text {
                font-size: 24px;
            }

            .jp-button {
                border-radius: 5px;
                padding-left: 1px;
                padding-right: 1px;
            }

            .jp-romaji {
                font-size: 16px;
            }

            .jp-intro-title {
                font-family: "Open Sans Light";
                color: #E6FADC;
                font-size: 24px;
                border-radius: 25px;
                margin-left: 0px;
                margin-right: 0px;
            }

            .jp-intro-desc {
                margin-left: 0px;
                margin-right: 0px;
                padding-bottom: 25px;
            }

            ul.tabs li {
                font-size: 12px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <ul class="tabs">

            <li class="tab-link current" data-tab="conjug12">Bảng tổng hợp</li>
            <li class="tab-link" data-tab="conjug1">Từ điển</li>
            <li class="tab-link" data-tab="conjug2">Lịch sự</li>
            <li class="tab-link" data-tab="conjug3">Phủ định</li>
            <li class="tab-link" data-tab="conjug4">Quá khứ</li>
            <li class="tab-link" data-tab="conjug5">Thể て</li>
            <li class="tab-link" data-tab="conjug6">Khả năng</li>
            <li class="tab-link" data-tab="conjug7">Điều kiện</li>
            <li class="tab-link" data-tab="conjug8">Ý hướng</li>
            <li class="tab-link" data-tab="conjug9">Mệnh lệnh</li>
            <li class="tab-link" data-tab="conjug10">Bị động</li>
            <li class="tab-link" data-tab="conjug11">Sai khiến</li>
        </ul>
        <div id="conjug1" class="kana-tab-content">
            <h2>Thể từ điển</h2>
            <h3>(<ruby>辞<rt>じ</rt></ruby><ruby>書<rt>しょ</rt></ruby><ruby>形<rt>けい</rt></ruby>)</h3>
            <div class="divider-10"></div>
            Thể từ điển là thể cơ bản nhất của động từ trong tiếng Nhật, và là thể được sử dụng trong từ điển.
            <div class="jp-intro-title">Cách chia từ thể lịch sự</div>
            <div class="jp-title-num">1.</div><div class="jp-title-desc">Đối với động từ nhóm I</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 1:</div><div class="jp-step-desc">Bỏ ます (ví dụ <ruby>帰<rt>かえ</rt></ruby>り<b>ます</b> → <ruby>帰<rt>かえ</rt></ruby>り)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 2:</div><div class="jp-step-desc">Thay đổi chữ cuối cùng từ cột い sang cột う (ví dụ <ruby>帰<rt>かえ</rt></ruby><b>り</b> → <ruby>帰<rt>かえ</rt></ruby><b>る</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">2.</div><div class="jp-title-desc">Đối với động từ nhóm II</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 1:</div><div class="jp-step-desc">Bỏ ます (ví dụ <ruby>食<rt>た</rt></ruby>べ<b>ます</b> → <ruby>食<rt>た</rt></ruby>べ)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 2:</div><div class="jp-step-desc">Thêm る (ví dụ <ruby>食<rt>た</rt></ruby>べ → <ruby>食<rt>た</rt></ruby>べ<b>る</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">3.</div><div class="jp-title-desc">Đối với động từ nhóm III</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ します:</div><div class="jp-step-desc">Đổi thành <b>する</b></div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ <ruby>来<rt>き</rt></ruby>ます:</div><div class="jp-step-desc">Đổi thành <b><ruby>来<rt>く</rt></ruby>る</b></div>
            <div class="divider-1"></div>
            <div class="jp-intro-title">Một số cách dùng cơ bản</div>
            <div class="jp-title-num">1.</div><div class="jp-title-desc">Thể khẳng định của động từ, sử dụng thay thế ～ます trong trường hợp không cần sử dụng thể lịch sự</div>
            <div class="divider-1"></div>
            <div class="jp-usage-example"><ruby>私<rt>わたし</rt></ruby>は<ruby>学<rt>がっ</rt></ruby><ruby>校<rt>こう</rt></ruby>に<b><ruby>行<rt>い</rt></ruby>く</b></div>
            <div class="jp-usage-trans">Tôi đi học.</div>
            <div class="jp-title-num">2.</div><div class="jp-title-desc">[Thể từ điển] + <ruby>前<rt>まえ</rt></ruby>に: Trước khi làm gì đó</div>
            <div class="divider-1"></div>
            <div class="jp-usage-example"><b><ruby>寝<rt>ね</rt></ruby>る<ruby>前<rt>まえ</rt></ruby>に</b>、<ruby>日<rt>に</rt></ruby><ruby>本<rt>ほん</rt></ruby><ruby>語<rt>ご</rt></ruby>を<ruby>勉<rt>べん</rt></ruby><ruby>強<rt>きょう</rt></ruby>しました。</div>
            <div class="jp-usage-trans">Trước khi đi ngủ, tôi đã học tiếng Nhật.</div>
        </div>
        <div id="conjug2" class="kana-tab-content">
            <h2>Thể lịch sự</h2>
            <h3>(ます<ruby>形<rt>けい</rt></ruby>)</h3>
            <div class="jp-practice"><a href="~/Study/PracticeConjugate?Type=1" class="btn btn-default">Luyện tập thể lịch sự (ます<ruby>形<rt>けい</rt></ruby>)</a></div>
            <div class="jp-intro-title">Cách chia từ thể từ điển</div>
            <div class="jp-title-num">1.</div><div class="jp-title-desc">Đối với động từ nhóm I</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 1:</div><div class="jp-step-desc">Thay đổi chữ cuối cùng từ cột う sang cột い (ví dụ <ruby>帰<rt>かえ</rt></ruby><b>る</b> → <ruby>帰<rt>かえ</rt></ruby><b>り</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 2:</div><div class="jp-step-desc">Thêm ます (ví dụ <ruby>帰<rt>かえ</rt></ruby><b>り</b> → <ruby>帰<rt>かえ</rt></ruby><b>ります</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">2.</div><div class="jp-title-desc">Đối với động từ nhóm II</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 1:</div><div class="jp-step-desc">Bỏ る (ví dụ <ruby>食<rt>た</rt></ruby>べ<b>る</b> → <ruby>食<rt>た</rt></ruby>べ)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 2:</div><div class="jp-step-desc">Thêm ます (ví dụ <ruby>食<rt>た</rt></ruby>べ → <ruby>食<rt>た</rt></ruby>べ<b>ます</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">3.</div><div class="jp-title-desc">Đối với động từ nhóm III</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ する:</div><div class="jp-step-desc">Đổi thành <b>します</b></div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ <ruby>来<rt>く</rt></ruby>る:</div><div class="jp-step-desc">Đổi thành <b><ruby>来<rt>き</rt></ruby>ます</b></div>
            <div class="divider-1"></div>
            <div class="jp-intro-title">Một số cách dùng cơ bản</div>
            <div class="jp-title-num">1.</div><div class="jp-title-desc">Thể khẳng định của động từ, dùng trong các văn cảnh lịch sự.</div>
            <div class="divider-1"></div>
            <div class="jp-usage-example"><ruby>彼<rt>かれ</rt></ruby>はりんごを<b><ruby>食<rt>た</rt></ruby>べます。</b></div>
            <div class="jp-usage-trans">Anh ấy ăn táo.</div>
            <div class="jp-title-num">2.</div><div class="jp-title-desc">Phủ định: Đổi ます → ません</div>
            <div class="divider-1"></div>
            <div class="jp-usage-example"><ruby>彼<rt>かれ</rt></ruby>はりんごを<b><ruby>食<rt>た</rt></ruby>べません。</b></div>
            <div class="jp-usage-trans">Anh ấy không ăn táo.</div>
            <div class="jp-title-num">3.</div><div class="jp-title-desc">Quá khứ: Đổi ます → ました</div>
            <div class="divider-1"></div>
            <div class="jp-usage-example"><ruby>彼<rt>かれ</rt></ruby>はりんごを<b><ruby>食<rt>た</rt></ruby>べませした。</b></div>
            <div class="jp-usage-trans">Anh ấy đã ăn táo.</div>
            <div class="jp-title-num">4.</div><div class="jp-title-desc">Quá khứ phủ định: Đổi ます → ませんでした</div>
            <div class="divider-1"></div>
            <div class="jp-usage-example"><ruby>彼<rt>かれ</rt></ruby>はりんごを<b><ruby>食<rt>た</rt></ruby>べませんでした。</b></div>
            <div class="jp-usage-trans">Anh ấy đã không ăn táo.</div>
        </div>
        <div id="conjug3" class="kana-tab-content">
            <h2>Thể phủ định</h2>
            <h3>(ない<ruby>形<rt>けい</rt></ruby>)</h3>
            <div class="jp-practice"><a href="~/Study/PracticeConjugate?Type=4" class="btn btn-default">Luyện tập thể phủ định (ない<ruby>形<rt>けい</rt></ruby>)</a></div>
            <div class="jp-intro-title">Cách chia từ thể từ điển</div>
            <div class="jp-title-num">1.</div><div class="jp-title-desc">Đối với động từ nhóm I</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・</div><div class="jp-step-desc">Thay đổi chữ cuối cùng từ cột う sang cột あ và thêm đuôi ない (ví dụ <ruby>話<rt>はな</rt></ruby><b>す</b> → <ruby>話<rt>はな</rt></ruby><b>さない</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp đặc biệt:</div><div class="jp-step-desc">Những động từ có đuôi là う thì chuyển thành わ (ví dụ <ruby>会<rt>あ</rt></ruby><b>う</b> → <ruby>会<rt>あ</rt></ruby><b>わない</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">2.</div><div class="jp-title-desc">Đối với động từ nhóm II</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 1:</div><div class="jp-step-desc">Bỏ る (ví dụ <ruby>食<rt>た</rt></ruby>べ<b>る</b> → <ruby>食<rt>た</rt></ruby>べ)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 2:</div><div class="jp-step-desc">Thêm ない (ví dụ <ruby>食<rt>た</rt></ruby>べ → <ruby>食<rt>た</rt></ruby>べ<b>ない</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">3.</div><div class="jp-title-desc">Đối với động từ nhóm III</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ する:</div><div class="jp-step-desc">Đổi thành <b>しない</b></div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ <ruby>来<rt>く</rt></ruby>る:</div><div class="jp-step-desc">Đổi thành <b><ruby>来<rt>こ</rt></ruby>ない</b></div>
            <div class="divider-1"></div>
            <div class="jp-intro-title">Cách chia từ thể lịch sự</div>
            <div class="jp-title-num">1.</div><div class="jp-title-desc">Đối với động từ nhóm I</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・</div><div class="jp-step-desc">Bỏ ます (ví dụ <ruby>話<rt>はな</rt></ruby>し<b>ます</b> → <ruby>話<rt>はな</rt></ruby>し)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・</div><div class="jp-step-desc">Thay đổi chữ cuối cùng từ cột い sang cột あ và thêm đuôi ない (ví dụ <ruby>話<rt>はな</rt></ruby><b>し</b> → <ruby>話<rt>はな</rt></ruby><b>さない</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp đặc biệt:</div><div class="jp-step-desc">Những động từ có đuôi là い thì chuyển thành わ (ví dụ <ruby>会<rt>あ</rt></ruby><b>い</b>ます → <ruby>会<rt>あ</rt></ruby><b>わない</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">2.</div><div class="jp-title-desc">Đối với động từ nhóm II</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 1:</div><div class="jp-step-desc">Bỏ ます (ví dụ <ruby>食<rt>た</rt></ruby>べ<b>ます</b> → <ruby>食<rt>た</rt></ruby>べ)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 2:</div><div class="jp-step-desc">Thêm ない (ví dụ <ruby>食<rt>た</rt></ruby>べ → <ruby>食<rt>た</rt></ruby>べ<b>ない</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">3.</div><div class="jp-title-desc">Đối với động từ nhóm III</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ します:</div><div class="jp-step-desc">Đổi thành <b>しない</b></div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ <ruby>来<rt>き</rt></ruby>ます:</div><div class="jp-step-desc">Đổi thành <b><ruby>来<rt>こ</rt></ruby>ない</b></div>
            <div class="divider-1"></div>
            <div class="jp-intro-title">Một số cách dùng cơ bản</div>
            <div class="jp-title-num">1.</div><div class="jp-title-desc">Thể phủ định của động từ, diễn tả hành động không làm gì đấy</div>
            <div class="divider-1"></div>
            <div class="jp-usage-example"><ruby>明日<rt>あした</rt></ruby><ruby>学<rt>がっ</rt></ruby><ruby>校<rt>こう</rt></ruby>に<b><ruby>行<rt>い</rt></ruby>かない。</b></div>
            <div class="jp-usage-trans">Ngày mai tôi không đi học.</div>
        </div>
        <div id="conjug4" class="kana-tab-content">
            <h2>Thể quá khứ</h2>
            <h3>(た<ruby>形<rt>けい</rt></ruby>・<ruby>過<rt>か</rt></ruby><ruby>去<rt>こ</rt></ruby><ruby>形<rt>けい</rt></ruby>)</h3>
            <div class="jp-practice"><a href="~/Study/PracticeConjugate?Type=3" class="btn btn-default">Luyện tập thể quá khứ (た<ruby>形<rt>けい</rt></ruby>・<ruby>過<rt>か</rt></ruby><ruby>去<rt>こ</rt></ruby><ruby>形<rt>けい</rt></ruby>)</a></div>
            <div class="jp-intro-title">Cách chia từ thể từ điển</div>
            <div class="jp-title-num">1.</div><div class="jp-title-desc">Đối với động từ nhóm I</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 1:</div><div class="jp-step-desc">Những động từ có đuôi là く → đổi thành いた (ví dụ <ruby>働<rt>はたら</rt></ruby><b>く</b> → <ruby>働<rt>はたら</rt></ruby><b>いた</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 2:</div><div class="jp-step-desc">Những động từ có đuôi là ぐ → đổi thành いだ (ví dụ <ruby>泳<rt>およ</rt></ruby><b>ぐ</b> → <ruby>泳<rt>およ</rt></ruby><b>いだ</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 3:</div><div class="jp-step-desc">Những động từ có đuôi là む, ぶ, ぬ → đổi thành んだ (ví dụ <ruby>飲<rt>の</rt></ruby><b>む</b> → <ruby>飲<rt>の</rt></ruby><b>んだ</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 4:</div><div class="jp-step-desc">Những động từ có đuôi là う, つ, る → đổi thành った (ví dụ <ruby>買<rt>か</rt></ruby><b>う</b> → <ruby>買<rt>か</rt></ruby><b>った</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 5:</div><div class="jp-step-desc">Những động từ có đuôi là す → đổi thành した (ví dụ <ruby>押<rt>お</rt></ruby><b>す</b> → <ruby>押<rt>お</rt></ruby><b>した</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">2.</div><div class="jp-title-desc">Đối với động từ nhóm II</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 1:</div><div class="jp-step-desc">Bỏ る (ví dụ <ruby>食<rt>た</rt></ruby>べ<b>る</b> → <ruby>食<rt>た</rt></ruby>べ)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 2:</div><div class="jp-step-desc">Thêm た (ví dụ <ruby>食<rt>た</rt></ruby>べ → <ruby>食<rt>た</rt></ruby>べ<b>て</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">3.</div><div class="jp-title-desc">Đối với động từ nhóm III</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ する:</div><div class="jp-step-desc">Đổi thành <b>した</b></div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ <ruby>来<rt>く</rt></ruby>る:</div><div class="jp-step-desc">Đổi thành <b><ruby>来<rt>き</rt></ruby>た</b></div>
            <div class="divider-1"></div>
            <div class="jp-intro-title">Cách chia từ thể lịch sự</div>
            <div class="jp-title-num">1.</div><div class="jp-title-desc">Đối với động từ nhóm I</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 1:</div><div class="jp-step-desc">Những động từ có đuôi là き → đổi thành いた và bỏ ます (ví dụ <ruby>働<rt>はたら</rt></ruby><b>き</b>ます → <ruby>働<rt>はたら</rt></ruby><b>いた</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 2:</div><div class="jp-step-desc">Những động từ có đuôi là ぎ → đổi thành いだ và bỏ ます (ví dụ <ruby>泳<rt>およ</rt></ruby><b>ぎ</b>ます → <ruby>泳<rt>およ</rt></ruby><b>いだ</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 3:</div><div class="jp-step-desc">Những động từ có đuôi là み, び, に → đổi thành んだ và bỏ ます (ví dụ <ruby>飲<rt>の</rt></ruby><b>み</b>ます → <ruby>飲<rt>の</rt></ruby><b>んだ</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 4:</div><div class="jp-step-desc">Những động từ có đuôi là い, ち, り → đổi thành った và bỏ ます (ví dụ <ruby>買<rt>か</rt></ruby><b>い</b>ます → <ruby>買<rt>か</rt></ruby><b>った</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 5:</div><div class="jp-step-desc">Những động từ có đuôi là し → đổi thành した và bỏ ます (ví dụ <ruby>押<rt>お</rt></ruby><b>し</b>ます → <ruby>押<rt>お</rt></ruby><b>した</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">2.</div><div class="jp-title-desc">Đối với động từ nhóm II</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 1:</div><div class="jp-step-desc">Bỏ ます (ví dụ <ruby>食<rt>た</rt></ruby>べ<b>ます</b> → <ruby>食<rt>た</rt></ruby>べ)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 2:</div><div class="jp-step-desc">Thêm た (ví dụ <ruby>食<rt>た</rt></ruby>べ → <ruby>食<rt>た</rt></ruby>べ<b>た</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">3.</div><div class="jp-title-desc">Đối với động từ nhóm III</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ します:</div><div class="jp-step-desc">Đổi thành <b>した</b></div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ <ruby>来<rt>き</rt></ruby>ます:</div><div class="jp-step-desc">Đổi thành <b><ruby>来<rt>き</rt></ruby>た</b></div>
            <div class="divider-1"></div>
            <div class="jp-intro-title">Một số cách dùng cơ bản</div>
            <div class="jp-title-num">1.</div><div class="jp-title-desc">Diễn tả hành động đã xảy ra trong quá khứ</div>
            <div class="divider-1"></div>
            <div class="jp-usage-example">もうご<ruby>飯<rt>はん</rt></ruby>を<b><ruby>食<rt>た</rt></ruby>べた。</b></div>
            <div class="jp-usage-trans">Tôi đã ăn cơm rồi.</div>
        </div>
        <div id="conjug5" class="kana-tab-content">
            <h2>Thể て</h2>
            <h3>(て<ruby>形<rt>けい</rt></ruby>)</h3>
            <div class="jp-practice"><a href="~/Study/PracticeConjugate?Type=2" class="btn btn-default">Luyện tập thể て (て<ruby>形<rt>けい</rt></ruby>)</a></div>
            <div class="jp-intro-title">Cách chia từ thể từ điển</div>
            <div class="jp-title-num">1.</div><div class="jp-title-desc">Đối với động từ nhóm I</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 1:</div><div class="jp-step-desc">Những động từ có đuôi là く → đổi thành いて (ví dụ <ruby>働<rt>はたら</rt></ruby><b>く</b> → <ruby>働<rt>はたら</rt></ruby><b>いて</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 2:</div><div class="jp-step-desc">Những động từ có đuôi là ぐ → đổi thành いで (ví dụ <ruby>泳<rt>およ</rt></ruby><b>ぐ</b> → <ruby>泳<rt>およ</rt></ruby><b>いで</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 3:</div><div class="jp-step-desc">Những động từ có đuôi là む, ぶ, ぬ → đổi thành んで (ví dụ <ruby>飲<rt>の</rt></ruby><b>む</b> → <ruby>飲<rt>の</rt></ruby><b>んで</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 4:</div><div class="jp-step-desc">Những động từ có đuôi là う, つ, る → đổi thành って (ví dụ <ruby>買<rt>か</rt></ruby><b>う</b> → <ruby>買<rt>か</rt></ruby><b>って</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 5:</div><div class="jp-step-desc">Những động từ có đuôi là す → đổi thành して (ví dụ <ruby>押<rt>お</rt></ruby><b>す</b> → <ruby>押<rt>お</rt></ruby><b>して</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">2.</div><div class="jp-title-desc">Đối với động từ nhóm II</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 1:</div><div class="jp-step-desc">Bỏ る (ví dụ <ruby>食<rt>た</rt></ruby>べ<b>る</b> → <ruby>食<rt>た</rt></ruby>べ)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 2:</div><div class="jp-step-desc">Thêm て (ví dụ <ruby>食<rt>た</rt></ruby>べ → <ruby>食<rt>た</rt></ruby>べ<b>て</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">3.</div><div class="jp-title-desc">Đối với động từ nhóm III</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ する:</div><div class="jp-step-desc">Đổi thành <b>して</b></div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ <ruby>来<rt>く</rt></ruby>る:</div><div class="jp-step-desc">Đổi thành <b><ruby>来<rt>き</rt></ruby>て</b></div>
            <div class="divider-1"></div>
            <div class="jp-intro-title">Cách chia từ thể lịch sự</div>
            <div class="jp-title-num">1.</div><div class="jp-title-desc">Đối với động từ nhóm I</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 1:</div><div class="jp-step-desc">Những động từ có đuôi là き → đổi thành いて và bỏ ます (ví dụ <ruby>働<rt>はたら</rt></ruby><b>き</b>ます → <ruby>働<rt>はたら</rt></ruby><b>いて</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 2:</div><div class="jp-step-desc">Những động từ có đuôi là ぎ → đổi thành いで và bỏ ます (ví dụ <ruby>泳<rt>およ</rt></ruby><b>ぎ</b>ます → <ruby>泳<rt>およ</rt></ruby><b>いで</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 3:</div><div class="jp-step-desc">Những động từ có đuôi là み, び, に → đổi thành んで và bỏ ます (ví dụ <ruby>飲<rt>の</rt></ruby><b>み</b>ます → <ruby>飲<rt>の</rt></ruby><b>んで</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 4:</div><div class="jp-step-desc">Những động từ có đuôi là い, ち, り → đổi thành って và bỏ ます (ví dụ <ruby>買<rt>か</rt></ruby><b>い</b>ます → <ruby>買<rt>か</rt></ruby><b>って</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Trường hợp 5:</div><div class="jp-step-desc">Những động từ có đuôi là し → đổi thành して và bỏ ます (ví dụ <ruby>押<rt>お</rt></ruby><b>し</b>ます → <ruby>押<rt>お</rt></ruby><b>して</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">2.</div><div class="jp-title-desc">Đối với động từ nhóm II</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 1:</div><div class="jp-step-desc">Bỏ ます (ví dụ <ruby>食<rt>た</rt></ruby>べ<b>ます</b> → <ruby>食<rt>た</rt></ruby>べ)</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ Bước 2:</div><div class="jp-step-desc">Thêm て (ví dụ <ruby>食<rt>た</rt></ruby>べ → <ruby>食<rt>た</rt></ruby>べ<b>て</b>)</div>
            <div class="divider-1"></div>
            <div class="jp-title-num">3.</div><div class="jp-title-desc">Đối với động từ nhóm III</div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ します:</div><div class="jp-step-desc">Đổi thành <b>して</b></div>
            <div class="divider-1"></div>
            <div class="jp-step-num">・ <ruby>来<rt>き</rt></ruby>ます:</div><div class="jp-step-desc">Đổi thành <b><ruby>来<rt>き</rt></ruby>て</b></div>
            <div class="divider-1"></div>
            <div class="jp-intro-title">Một số cách dùng cơ bản</div>
            <div class="jp-title-num">1.</div><div class="jp-title-desc">[Thể て] + ください: Yêu cầu ai đó làm gì</div>
            <div class="divider-1"></div>
            <div class="jp-usage-example">ここに<ruby>名<rt>な</rt></ruby><ruby>前<rt>まえ</rt></ruby>を<ruby>書<rt>か</rt></ruby><b>いてください。</b></div>
            <div class="jp-usage-trans">Hãy viết tên của bạn vào chỗ này.</div>
            <div class="jp-title-num">2.</div><div class="jp-title-desc">[Thể て] + いる: Diễn tả hành động đang làm gì</div>
            <div class="divider-1"></div>
            <div class="jp-usage-example"><ruby>今<rt>いま</rt></ruby>,<ruby>私<rt>わたし</rt></ruby>は<ruby>食<rt>た</rt></ruby><b>べています</b>。</div>
            <div class="jp-usage-trans">Bây giờ, tôi đang ăn cơm.</div>
        </div>
        <div id="conjug6" class="kana-tab-content">
            <h2>Thể khả năng</h2>
            <h3>(<ruby>可<rt>か</rt></ruby><ruby>能<rt>のう</rt></ruby><ruby>形<rt>けい</rt></ruby>)</h3>
            <div class="jp-practice"><a href="~/Study/PracticeConjugate?Type=6" class="btn btn-default">Luyện tập thể khả năng (<ruby>可<rt>か</rt></ruby><ruby>能<rt>のう</rt></ruby><ruby>形<rt>けい</rt></ruby>)</a></div>
            Cách chia và cách sử dụng thể khả năng sẽ được cập nhật trong phiên bản tiếp theo của Japanese in Your Hand.
        </div>
        <div id="conjug7" class="kana-tab-content">
            <h2>Thể điều kiện</h2>
            <h3>(<ruby>条<rt>じょう</rt></ruby><ruby>件<rt>けん</rt></ruby><ruby>形<rt>けい</rt></ruby>・ば<ruby>形<rt>けい</rt></ruby>)</h3>
            <div class="jp-practice"><a href="~/Study/PracticeConjugate?Type=5" class="btn btn-default">Luyện tập thể điều kiện (<ruby>条<rt>じょう</rt></ruby><ruby>件<rt>けん</rt></ruby><ruby>形<rt>けい</rt></ruby>・ば<ruby>形<rt>けい</rt></ruby>)</a></div>
            Cách chia và cách sử dụng thể điều kiện sẽ được cập nhật trong phiên bản tiếp theo của Japanese in Your Hand.
        </div>
        <div id="conjug8" class="kana-tab-content">
            <h2>Thể ý hướng</h2>
            <h3>(<ruby>意<rt>い</rt></ruby><ruby>向<rt>こう</rt></ruby><ruby>形<rt>けい</rt></ruby>)</h3>
            <div class="jp-practice"><a href="~/Study/PracticeConjugate?Type=7" class="btn btn-default">Luyện tập thể ý hướng (<ruby>意<rt>い</rt></ruby><ruby>向<rt>こう</rt></ruby><ruby>形<rt>けい</rt></ruby>)</a></div>
            Cách chia và cách sử dụng thể ý hướng sẽ được cập nhật trong phiên bản tiếp theo của Japanese in Your Hand.
        </div>
        <div id="conjug9" class="kana-tab-content">
            <h2>Thể mệnh lệnh</h2>
            <h3>(<ruby>命<rt>めい</rt></ruby><ruby>令<rt>れい</rt></ruby><ruby>形<rt>けい</rt></ruby>)</h3>
            <div class="jp-practice"><a href="~/Study/PracticeConjugate?Type=8" class="btn btn-default">Luyện tập thể mệnh lệnh (<ruby>命<rt>めい</rt></ruby><ruby>令<rt>れい</rt></ruby><ruby>形<rt>けい</rt></ruby>)</a></div>
            Cách chia và cách sử dụng thể mệnh lệnh sẽ được cập nhật trong phiên bản tiếp theo của Japanese in Your Hand.
        </div>
        <div id="conjug10" class="kana-tab-content">
            <h2>Thể bị động / tôn kính</h2>
            <h3>(<ruby>受<rt>うけ</rt></ruby><ruby>身<rt>み</rt></ruby>・<ruby>尊<rt>そん</rt></ruby><ruby>敬<rt>けい</rt></ruby>)</h3>
            <div class="jp-practice"><a href="~/Study/PracticeConjugate?Type=9" class="btn btn-default">Luyện tập thể bị động / tôn kính (<ruby>受<rt>うけ</rt></ruby><ruby>身<rt>み</rt></ruby>・<ruby>尊<rt>そん</rt></ruby><ruby>敬<rt>けい</rt></ruby>)</a></div>
            Cách chia và cách sử dụng thể bị động / tôn kính sẽ được cập nhật trong phiên bản tiếp theo của Japanese in Your Hand.
        </div>
        <div id="conjug11" class="kana-tab-content">
            <h2>Thể sai khiến</h2>
            <h3>(<ruby>使<rt>し</rt></ruby><ruby>役<rt>えき</rt></ruby>)</h3>
            <div class="jp-practice"><a href="~/Study/PracticeConjugate?Type=10" class="btn btn-default">Luyện tập thể sai khiến (<ruby>使<rt>し</rt></ruby><ruby>役<rt>えき</rt></ruby>)</a></div>
            Cách chia và cách sử dụng thể sai khiến sẽ được cập nhật trong phiên bản tiếp theo của Japanese in Your Hand.
        </div>
        <div id="conjug12" class="kana-tab-content current">
            <div class="jp-intro-title">Bảng tổng hợp cách chia động từ</div>
            <div class="jp-table"><img src="~/Content/Resources/Image/conjug.png" /></div>
            <div class="divider-1"></div>
            Ngoại lệ:
            <br />
            <br />・ <ruby>行<rt>い</rt></ruby>く chuyển sang thể た là <ruby>行<rt>い</rt></ruby>った thay vì いいた.
            <br />・ <ruby>行<rt>い</rt></ruby>く chuyển sang thể て là <ruby>行<rt>い</rt></ruby>って thay vì いいて.
            <br />・ <ruby>問<rt>と</rt></ruby>う chuyển sang thể た là <ruby>問<rt>と</rt></ruby>うた thay vì とって.
            <br />・ <ruby>問<rt>と</rt></ruby>う chuyển sang thể て là <ruby>問<rt>と</rt></ruby>うて thay vì とって.
            <br />・ こう chuyển sang thể た là こうた thay vì こった.
            <br />・ こう chuyển sang thể て là こうて thay vì こって.
            <br />・ Các động từ いらっしゃる, おっしゃる, <ruby>下<rt>くだ</rt></ruby>さる, なさる, ござる khi chuyển sang thể lịch sự sẽ đổi đuôi る thành い thay vì り.
        </div>
        <div class="divider-10"></div>

    </div>

    <script>
        function learnTime() {
            $.post("/Study/UpdateTime", function () { });
        }
        $(document).ready(function () {

            $(function () {
                setInterval("learnTime()", 60 * 1000);
            });
            $(".navbar-fixed-top").addClass("scrolled menu-shrink");
            $('ul.tabs li').click(function () {
                var tab_id = $(this).attr('data-tab');

                $('ul.tabs li').removeClass('current');
                $('.kana-tab-content').removeClass('current');

                $(this).addClass('current');
                $("#" + tab_id).addClass('current');
            });
        });
    </script>
</body>
</html>
