﻿/*
    Furigana formatting
    ふりがなの位置、サイズなどを指定する
*/

ruby {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}

rb, rt {
    display: inline;
    line-height: 1.2;
}

rt {
    font-size: 60%;
    font-family: "Meiryo", "メイリオ", "MS PGothic", "MS Pゴシック", sans-serif;
}