﻿@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype')
}
@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSans-Light.ttf") format('truetype')
}
@font-face {
    font-family: "Stroke Order";
    src: url("../fonts/KanjiStrokeOrders_v4.001.ttf") format('truetype')
}

body {
    position: relative;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

div#container {
    position:relative; /* needed for footer positioning*/
    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/
    min-height:100%; /* real browsers */
}

div#footer {
    position:absolute;
    width:100%;
    bottom:0; /* stick to bottom */
    background:#ddd;
    border-top:6px double gray;
}

hr {
    margin-bottom: 0;
}


footer {
   position: relative;
   bottom: 0px;
   width: 100%;
}


h1 {
    font-family: "Open Sans Light", "Segoe UI", "Meiryo", "メイリオ", "MS PGothic", "MS Pゴシック", sans-serif;
    font-weight: 400;
}

h2 {
    font-family: "Open Sans Light", "Segoe UI", "Meiryo", "メイリオ", "MS PGothic", "MS Pゴシック", sans-serif;
    font-weight: 400;
}

h3 {
    font-family: "Open Sans Light", "Segoe UI", "Meiryo", "メイリオ", "MS PGothic", "MS Pゴシック", sans-serif;
    font-weight: 400;
}

h4 {
    font-family: "Open Sans", "Segoe UI", "Meiryo", "メイリオ", "MS PGothic", "MS Pゴシック", sans-serif;
    font-weight: 400;
}

h5 {
    font-family: "Open Sans", "Segoe UI", "Meiryo", "メイリオ", "MS PGothic", "MS Pゴシック", sans-serif;
    font-weight: 400;
}

h6 {
    font-family: "Open Sans", "Segoe UI", "Meiryo", "メイリオ", "MS PGothic", "MS Pゴシック", sans-serif;
    font-weight: 400;
}

body {
    font-family: "Open Sans", "Segoe UI", "Meiryo", "メイリオ", "MS PGothic", "MS Pゴシック", sans-serif;
    font-size: 18px;
}

@media (max-width: 991px) {
    body {
        font-size: 16px;
    }
}

.anim-1s {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.anim-2s {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.anim-3s {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.anim-4s {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.anim-5s {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.divider-1 {
    width: 100%;
    min-height: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    display: inline-block;
    position: relative;
}

.divider-10 {
    width: 100%;
    min-height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
}

