﻿<li><a href="/Alphabet">　Bảng chữ cái</a></li>
<li><a href="/Alphabet/Convert">　Chuyển đổi tên</a></li>
<li><a href="/Study/LearnConjugate">　Chia động từ</a></li>
<li><a href="/Study">　Khóa học　</a></li>
<li><a href="/Account/Register"><span class="glyphicon glyphicon-user"></span> Đăng ký</a></li>
<li><a href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Đăng nhập</a></li>
