﻿
@{
    ViewBag.Title = "Login";
}
<head>
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="~/Content/assets/css/Style.css" media="screen">
    <style>
        body {
            background-image: url("../Content/Resources/Image/bg4.png");
        }

        .login-form {
            width: 60%;
            margin-left: 20%;
            margin-top: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: rgba(255,255,255,0.6);
            border-radius: 25px;
            
        }

        .login-title {
            text-align: center;
        }

        .login-btn {
            text-align: center;
        }

        .social-login {
            text-align: center;
        }

        .or-register {
            text-align: center;
        }

        .href-register {
            text-align: center;
        }

        .remember-tool {
            text-align: center;
        }

        .or-social-login {
        }

        .lbl {
            padding-top: 8px;
        }

        .form-group {
            padding-top: 1px;
            padding-bottom: 1px;
        }

        @@media (max-width: 1299px) {
            .login-form {
                width: 80%;
                margin-left: 10%;
            }
        }

        @@media (max-width: 767px) {
            .login-form {
                width: 100%;
                margin-left: 0%;
            }
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        <div class="container">
            <div class="login-form ">
                <div class="login-title">
                    <h2>ĐĂNG NHẬP</h2>
                </div>
                <div>
                    <p class="text-danger social-login" id="wrong-info"> </p>
                </div>
                
                <div class="local-login">
                    <div class="form-group">
                        <div class="col-md-3">
                            <p class="lbl">Tài khoản</p>
                        </div>
                        <div class="col-md-8">
                            <input name="account" id="account" type="text" class="form-control login-content" placeholder="Tài khoản" />
                            <p class="text-danger"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <p class="lbl">Mật khẩu</p>
                        </div>
                        <div class="col-md-8">
                            <input name="password" type="password" class="form-control login-content" placeholder="Mật khẩu" />
                            <p></p>
                        </div>
                    </div>
                    <div class="divider-1"></div>
                    <div class="tool-box">
                        <div class="remember-tool">
                            <input id="remember-pwd" type="checkbox" name="Expires">
                            <label for="remember-pwd">Ghi nhớ đăng nhập</label>
                        </div>
                    </div>
                    <div class="divider-1"></div>
                    <div class="form-group">
                        <div class="login-btn">
                            <input type="button" value="Đăng nhập" class="btn btn-default btn-login" id="login-local" />
                        </div>
                    </div>
                </div>
                <div class="divider-10"></div>
                <div class="social-login">
                    <div class="fb-login-JYH">
                        <!--<div class="fb-login-button" scope="public_profile,email" data-width="300" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>-->
                        <a class="btn fb-login-button btn-facebook loginBtn loginBtn--facebook" href="/Account/LoginFacebook">
                            <i class="fa fa-facebook"></i>
                            Đăng nhập bằng Facebook
                        </a>
                     </div>
                    <div class="google-login-JYH">
                        <button id="GoogleLogin" class="customGPlusSignIn loginBtn loginBtn--google" type="button" onclick="login()">
                            <span class="icon"></span>
                            <span class="buttonText">Đăng nhập bằng Google+</span>
                        </button>
                    </div>
                </div>
                <div class="divider-10"></div>
                <div class="href-register">
                    Chưa có tài khoản? <a class="new-user" href="Register">Đăng ký ngay!</a>
                </div>
            </div>
        </div>


        @Html.AntiForgeryToken()
    }



    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".login-content").on("focus", function () {
               // $("#wrong-info").text("");
            });
            $("#login-local").on("click", function () {
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                $.post("../Account/CheckLogin", {
                    "__RequestVerificationToken": token,
                    "account": $("input[name=account]").val(),
                    "password": $("input[name=password]").val()
                }, function (data) {
                    if (data != "") {
                        $("#wrong-info").text(data);
                        $("#account").focus();
                    } else {
                        $.post("../Account/Login", {
                            "__RequestVerificationToken": token,
                            "account": $("input[name=account]").val(),
                            "password": $("input[name=password]").val(),
                            "Expires": $("input[name=Expires]").is(":checked")
                        }, function (data) {
                            window.location = data.toString().trim(); // đăng nhập thành công quay về trang home
                        });
                    }
                });
            });
        $(".dictionary-search-jp").addClass("disable");
        $(".navbar-fixed-top").addClass("scrolled menu-shrink");
    });

    </script>
</body>